* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}
.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("image1.png") no-repeat center center/cover;
  background-attachment: fixed;

  height: 100vh;
}
.heading {
  font-size: 1.3rem;
  background-color: #313534;
  letter-spacing: 11px;
  padding: 19px;
  color: white;
  font-weight: bold;
}

.sec-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 45px 201px;
}
.sec-content h1 {
  font-size: 1.8rem;
}
.sec-content p {
  text-align: justify;
  font-size: 1rem;
  padding: 7px;
  line-height: 22px;
}
.home2-content {
  background: url("image2.png") no-repeat fixed center/cover;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec2-content,
.sec3-content {
  background-color: #282e34;
  color: white;
}

.home3-content {
  background: url("image3.png") no-repeat fixed center/cover;
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home4-content {
  background: url("image3.png") no-repeat fixed center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
